.hidden {
    display: none;
}

body{
    background-color: #333;
    text-align: center;
    color: #ddd;
    padding: 1%;
}

.background-container{
    border-radius: 50px;
    background-image: linear-gradient(0.25turn, rgb(59 64 65 / 80%), rgb(210, 218, 226, 0.1));
}

h2{
    font-family: monospace;
    font-size: 150px;
    margin-top: 20%;
}

h5{
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 10px;
}

input {
    border: none;
    background: transparent;
    font-size: 30px;
    font-family: cursive;
    margin: 15px;
    text-align: center;
    color: #ddd;
    border: 2px solid #ddd;
}

input::placeholder {
    color: #ddd;
    font-family: math;
  }

ul {
    margin-left: 40%;
}

li{
    list-style: none;
    font-size: 25px;
    font-weight: 800;
    text-align:left;
    color: rgb(250 50 60);
}
button{
    border: none;
    background: transparent;
    font-size: 22px;
    margin-left: 22px;
}

#todo-form{
    margin-right: 12.8%;
}

.showing{
    display: block;
    transition: color .5s ease-in-out;
    font-size: 34px;
    margin-top: 0px;
}

.bgImg{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

#weather span:first-child{
    font-weight: 500;
    font-size: 22px;
    padding-left: 95%;
}

#weather span:last-child{
    font-weight: 300;
    font-size: 12px;
    padding-left: 95%;
}
